server:
  port: 8004

  servlet:
    encoding:
      enabled: true
      force: true
      charset: UTF-8

spring:
  application:
    name: SAA-04StreamingOutput

  # ====SpringAIAlibaba Config=============
  ai:
    dashscope:
      api-key: ${aliQwen_api}
